<div
  class="flex flex-wrap bg-gray-800 justify-between min-h-11 px-8 items-center"
>
  <div class="flex flex-wrap space-x-6">
    <a
      class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-2 py-1 text-sm font-medium"
      routerLink="/login"
      rel="noopener noreferrer"
      >Login</a
    >
    <a
      class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-2 py-1 text-sm font-medium"
      routerLink="/signup"
      rel="noopener noreferrer"
      >SignUp</a
    >
    <a
      class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-2 py-1 text-sm font-medium"
      routerLink="/news"
      rel="noopener noreferrer"
      >Add News</a
    >
    
  </div>
  
</div>

