<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      id="ParentDiv"
      class="min-h-full h-screen flex bg-pink-50 flex-col items-center justify-center py-8 px-4 sm:px-6 lg:px-8"
    >
      <div class="flex flex-col items-center justify-center min-w-96">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-12 h-12 mb-4"
        >
          <path
            d="M11.584 2.376a.75.75 0 0 1 .832 0l9 6a.75.75 0 1 1-.832 1.248L12 3.901 3.416 9.624a.75.75 0 0 1-.832-1.248l9-6Z"
          />
          <path
            fill-rule="evenodd"
            d="M20.25 10.332v9.918H21a.75.75 0 0 1 0 1.5H3a.75.75 0 0 1 0-1.5h.75v-9.918a.75.75 0 0 1 .634-.74A49.109 49.109 0 0 1 12 9c2.59 0 5.134.202 7.616.592a.75.75 0 0 1 .634.74Zm-7.5 2.418a.75.75 0 0 0-1.5 0v6.75a.75.75 0 0 0 1.5 0v-6.75Zm3-.75a.75.75 0 0 1 .75.75v6.75a.75.75 0 0 1-1.5 0v-6.75a.75.75 0 0 1 .75-.75ZM9 12.75a.75.75 0 0 0-1.5 0v6.75a.75.75 0 0 0 1.5 0v-6.75Z"
            clip-rule="evenodd"
          />
          <path
            d="M12 7.875a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z"
          />
        </svg>

        <h2 class="font-bold text-2xl">SignUp to create your account</h2>
        <p>
          Already have an account?
          <a class="text-purple-800" routerLink="/login">Login</a>
        </p>
        <div class="mt-10 w-full">
          <form
            class="max-w-md w-full space-y-8"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
          >
            <div *ngIf="errorMessage">{{ errorMessage }}</div>
            <div
              *ngIf="
                form.get('password')?.touched &&
                form.get('confirmPassword')?.touched &&
                form.value.password !== form.value.confirmPassword
              "
            >
              password and confirm password must be equal
            </div>
            <div class="flex flex-col">
              <label
                class="block text-gray-700 text-sm font-bold mb-1 ml-1"
                for="username"
                >Username:</label
              >
              <input
                class="shadow-lg appearance-none border-1 rounded-md w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="username"
                type="text"
                placeholder="Username"
                formControlName="name"
              />
            </div>
            <div class="flex flex-col">
              <label
                class="block text-gray-700 text-sm font-bold mb-1 ml-1"
                for="email"
                >Email:</label
              >
              <input
                class="shadow-lg appearance-none border-1 rounded-md w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="email"
                type="email"
                placeholder="Email"
                formControlName="email"
              />
            </div>
            <div class="flex flex-col">
              <label
                class="block text-gray-700 text-sm font-bold mb-1 ml-1"
                for="password"
                >Password:</label
              >
              <input
                class="shadow-lg appearance-none border-1 rounded-md w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="password"
                type="password"
                placeholder="Password"
                formControlName="password"
              />
            </div>
            <div class="flex flex-col">
              <label
                class="block text-gray-700 text-sm font-bold mb-1 ml-1"
                for="confirm password"
                >Confirm Password:</label
              >
              <input
                class="shadow-lg appearance-none border-1 rounded-md w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="confirm password"
                type="password"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
              />
            </div>
            <div class="flex items-center justify-between gap-4">
              <button
                id="submit"
                [disabled]="form.invalid"
                class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-slate-500 hover:bg-slate-600"
                type="submit"
              >
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
